
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    font-family:'Roboto', sans-serif;

}
a {
    text-decoration: none;
}
.username a {
    color: white;
    margin-left: 20px;
}
.username li {
    display: block;
}
.main-slider {
    background-image:url("pictures/1st.jpg");
    animation: bgChange 20s linear infinite;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: left;
    width: 100%;
    height: 800px;
    display: flex;
    margin-top:-64px;

}
.header {
    display: flex;
    align-items: baseline;
    /*background-color: grey;*/

    /*height:800px;*/

    position: sticky;
    top: 0;
    backdrop-filter: opacity(50%);
    /*background-color: black;*/
    z-index: 999;

}
@keyframes bgChange {
    0% {
        background-image: url("pictures/1st.jpg");
    }
    20% {
        background-image: url("pictures/1st.jpg");
    }
    25% {
        background-image: url("pictures/albania.jpeg");
    }
    45% {
        background-image: url("pictures/albania.jpeg");
    }
    50% {
        background-image: url("pictures/Night.jpeg");
    }
    70% {
        background-image: url("pictures/Night.jpeg");
    }
    75% {
        background-image: url("pictures/skiing.jpeg");
    }
    95% {
        background-image: url("pictures/skiing.jpeg");
    }
}
.logo {
    left: 5%;
    color: white;
    position: absolute;
    cursor: pointer;



}
.nav {
    width:100%;
    height:64px;
    /*border:1px solid red;*/
    /*width:70%;*/
    justify-content: flex-end;
    display: flex;
    padding-right: 5%;
    margin-left: auto;
    align-items: center;
    z-index: 1000;

    transition: background-color 0.4s ease-in-out;

}
.navUl {
    display: flex;
    margin-right: 80px;

}
.navLi {
    display: flex;
    margin-left:80px;
}
.navLi a:hover {
    color: #69f13c;
    scale: 1.05;
}
.navLi a {
    text-decoration:none;
    color:white;
    font-size: 17px;
    font-weight: 50;
    font-weight: bold;
    transition: color 0.4s ease-in-out;
}
.nav.scrolled {
    width: 100%;
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    opacity: 0.98;
}
.nav.scrolled a {
    color:black;
}
.nav.scrolled a:hover{
    color:#69f13c;
}
.navLi.scrolled {
    fill: black;
    color: white;
}
.nav.scrolled #ham-menu {
    fill: black;
}
.nav.scrolled .log-in-button {
    background-color: black;

}
.nav.scrolled .log-in-button a {
    color:white;

}
.nav.scrolled h3 {
    color:black;
}

.header {
    /*border:1px solid blue;*/
    text-decoration: none;
    index:999;
    /*color:black;*/
}
.log-in-button {
    width:100px;
    height:30px;
    border-radius: 10px;
    background-color: white;
    border:none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin:-5px;
}
.log-in-button:hover {
    scale: 1.1;
}
.log-in-button a {
    text-decoration: none;
    color:black;
    font-weight: bold;
}

.flyout-parent {
    /*border:1px solid green;*/
    margin-top:17px;
    visibility: hidden;
    opacity: 0;
    position:absolute;
    transition: all ease-in 0.3s;
    /*border: 1px solid red;*/
}
.flyout-box {
    background-color: #f8f8f8;
    backdrop-filter: blur(2px);
    backdrop-filter: opacity(50%);
    width:160px;
    height: 7.5em;
    margin-top: 22px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
    display: flex;
    border-radius: 10px;

}

.Things-to-do:hover  .flyout-parent{
    visibility: visible;
    opacity: 1;

}

.nav-fly {
    float:left;
    flex-flow: column;
    list-style-type: none;
    margin-left:15%;
    width:90%;
}
.nav-fly li {
    text-decoration: none;
    margin-top:15px;
}
.nav-fly li.active{
   color:red;
}
.nav-fly li a {
    color:darkslategrey;
    font-weight: normal;
    letter-spacing: 2px;
}
#slider-textbox {
    position: absolute;
    z-index:2;
    margin-top: 320px;
    width:100%;
    color:white;
    display: flex;
    flex-direction: row;
    /*border: 1px solid lime;*/
    /*background-image:url("pictures/1st.jpg");*/
    /*height:800px;*/
    /*background-repeat: no-repeat;*/
    /*background-size:cover;*/
    /*background-position: center;*/
}
.slide {
    width:80%;
    margin-right: 30%;
    margin-left: 5%;
    /*border: 1px solid blue;*/

}

.overlay {
    position: absolute;
   width:100%;
    align-items: baseline;
    background-color: black;
    opacity: 25%;
    height:800px;
    color: white;
}
.navUl-side {
    position: fixed;
    top:0;
    right: 0;
    height:100vh;
    width:400px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: -10px 0px 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    color:black;
    justify-self: flex-start;
    backdrop-filter: blur(10px);
    transition:all 0.3s ease-in-out;
}
.navUl-side li {
    height:100px;
    list-style-type: none;
    width: 100%;
}
.navUl-side a {
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    width:100%;
    justify-content: center;
}
.navUl-side a:hover {
    color: #69f13c;
}
#closeham svg:hover {
    fill: #69f13c;
}
.navUl-side li:first-child{
    margin-right: auto;
}
#ham-menu {
    position: absolute;
    right: 5%;
    display: none;
    top:7px;
    fill:white;
}
#ham-menu svg:hover{
    fill: #69f13c;
}

@media only screen and (max-width: 1340px){
    .navLi {
        margin-left: 50px;


    }


}
@media only screen and (max-width: 1145px){
    .navLi {
        display: none;

    }
    #ham-menu {
        display: flex;
        margin-top:5px;

    }
    .slide {
        margin-right: 0px;
        margin-left: 10%;
    }
}
@media only screen and (max-width: 660px){
    .navUl-side {
        width: 100%;
    }



}

.mid-container {
    width: 100%;
    /*background-color: lightgreen;*/
    height: auto;

}
#slider-text {
    width: 60%;
    margin-left: 5%;
}
.mid-header {
    width: 100%;
    height: auto;
    font-size:30px;
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.destinations {
    width: 80%;
    height: 400px;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right:10%;
    padding-left:10%;
    margin-top:30px;
}
.city {
    display: grid;
    width:300px;
    /*border:2px solid blue;*/
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    color:white;
    letter-spacing: 1px;



}
.city-overlay{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 300px;
    height:300px;
    z-index: 0;
    height: 400px;
    border-radius:10px;
}
.city button {
    width:100px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    color: white;
    border-radius:20px;
    font-weight:bold ;
    border:2px solid white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


}
.city-button {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index:777;
    height: auto;
    /*border:1px solid cyan;*/
    display: flex;
    align-items: center;
    margin-bottom:40px
}
.city-button a {
    text-decoration: none;
    color: whitesmoke;
}
.inside-h2 {
    width: 100%;
    /*border: 1px solid purple;*/
    display: flex;
    justify-content: center;
    z-index:777;
    font-size:20px;
    /*margin-top: 40px;*/
    /*height:40px;*/
}
.inside-h2 a {
    color: whitesmoke;
}
.inside-p{
    /*border:1px solid pink;*/
    width: 80%;
    text-align: center;
    z-index:777;
    padding: 0 10%;
    margin-top: 0px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.inside-p a {
    color: whitesmoke;
}
#KosoveDest {

    background-image: url("pictures/prizrenBlue.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}

#AlbaniaDest {
    background-image: url("pictures/Dhermi-Albania.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
#MontenegroDest {
    background-image: url("pictures/Montenegro-Accursed-Mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.city:hover{
    scale: 1.05;
    cursor: pointer;
}
.city-button button:hover {
    background-color: rgba(0, 0, 0, 0.21);
    color: black;
}


@media only screen and (max-width: 1200px){
    .destinations {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding:0px;
        flex-flow: column;
        align-items: center;
        /*border:2px solid red;*/
        height: auto;
    }
    .city  {
        height: 400px;
        margin-bottom:30px;
        width:600px
    }
    .city-overlay {
        width:600px;
        margin:0px;
    }


}
@media only screen and (max-width: 660px) {
    .city  {
        height: 400px;
        margin-bottom:30px;
        width:300px
    }
    .city-overlay {
        width:300px;
        margin:0px;
    }
}
.activities-container {
    width: 100%;
    height: auto;
    /*background-color: lightgreen;*/
}
.activities {
    width: 80%;
    margin-left: 10%;
    height:auto;
    /*border: 1px solid red;*/
    display: flex;
    flex-flow: row;
    border-radius: 10px;
    color: whitesmoke;
    margin-bottom: 30px;
    margin-top: 30px;
}
.act-img {
    width: 500px;
    height: 400px;
    /*border: 1px solid cyan;*/

}
.right {
    border-right: 4px solid white;
}
.left  {
    border-left: 4px solid white;
}
.act-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.act-textbox{
    width:100%;
    height:400px;
    /*border:1px solid blue;*/
    display: flex;
    flex-flow: column;
    text-align: center;


}
.act-textbox h1 {
    font-size: 56px;
    margin-top: 40px;
}
.act-textbox p {
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 30px;
    padding: 0px 10px;
}
.act-textbox button {
    width:250px;
    height:50px;

    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    color: whitesmoke;
    border-radius:20px;
    font-weight:bold ;
    border:2px solid whitesmoke;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.act-textbox button:hover {
    background-color: rgba(0, 0, 0, 0.21);
}
.act-button {
    margin-top: 40px;
}
#ski {
    background-image: url("pictures/ski-act-ph.jpg");
}
#hike {
    background-image: url("pictures/hiking-ph.jpg");
    background-position: left;
}
#offroad {
    background-image: url("pictures/jeep-ph.jpg");
    background-position: right;
}
#mtb {
    background-image: url("pictures/mtb-ph.jpg");
    background-position: bottom;
}
.discover-more {
    width: 100%;
    border-bottom:1px solid rgba(126, 113, 113, 0);
    background-color: #2f3131;
    color: white;
    text-align: center;
    font-size: 20px;
}
.discover-more h1 {
    padding-top: 20px;
}
.icon-container  {
    width: 80%;
    margin-left:10%;

    /*border: 1px solid blue;*/
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;

}
.icons {
    width:90px;
    height:90px;
    /*border:1px solid black;*/
    margin: 20px;

}
.icons svg {
    object-fit: cover;
    width:90px;
    height: 90px;
    fill:white ;
}

#discover-more-button {
    width: 100%;
    /*border: 1px solid lime;*/
    margin-bottom: 30px;
}
#discover-more-button button  {
    width:200px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    color: white;
    margin-top: 10px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
#discover-more-button button:hover {
  scale: 1.04;

}
#discover-more-button button a  {
    color: black;
    letter-spacing: 2px;

}
@media only screen and (max-width:1300px) {
    .act-textbox h1 {
        font-size: 40px;
    }
    .act-textbox p {
        font-size: 18px;
    }
}
@media only screen and (max-width:910px) {
    .activities {
        flex-flow: column;
    }
    .reverse {
        flex-flow: column-reverse;
    }
    .act-img {
        width: 100%;
        height: 200px;
    }
    .ski-bottom img {
        object-position: 0px 80%;
    }
    .left {
        border:none;
    }
    .hiking-bottom img {
        object-position: 0px 80%;
    }
}
@media only screen and (max-width:572px) {
    .act-textbox h1 {
        margin-top:50px;
        font-size:35px;

    }
    .act-textbox p {
        font-size: 13px;
    }
}

